.card{
    border: .2px solid rgba(0, 0, 0, 0.151);
    border-radius: 5px;
    box-shadow: ;
    width: 200px;
    min-height: 400px;
    margin: 30px;
    padding: 20px;
    display: inline-block;
    background-color: white;
}

.card img{
    border: solid black 1px;
    width: 200px;
}

.nameArea{
    text-align: center;
}