.game{
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonArea button{
    margin: 0 20px;

    height: 40px;
    padding: 0 20px;
    color: white;
    font-weight: bold;
    /* border: 1px solid grey; */
    background-color: #ff793f;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.buttonArea button:hover {

    background-color: #ff793fb6;
}